
.square-display {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 8rem;
  height: 4rem;
  flex-wrap: wrap-reverse;
  word-break: break-all;
  padding: 0.2rem;
  
  background-color: $squareGrey;
  box-shadow: 0.2rem 0.2rem .5rem 2px darken($backgroundDark, 20%);
  // border: 1px solid black;
  border-radius: 8px;
  font-family: 'Source Code Pro';
  
  &:hover {
    filter: brightness(0.85);
    cursor: pointer;
  }

  p {
    font-size: 0.82rem;
    align-self: center;
    box-sizing: content-box;
    max-height: 4rem;
    // flex: 1 0 auto;
  }
}

.add-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $backgroundLight;


}

.close-modal-btn {
  position: absolute;
  top: 0;
  left: 15px;

  &:hover {
    cursor: pointer;
    color: red;
  }
}

.logout-btn {
  position: absolute;
  top: 1rem;
  right: 3rem;
}

.loader {
  border: .3rem solid #f3f3f3; /* Light grey */
  border-top: .3rem solid #3498db; /* Blue */
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.btn-green {
  background-color: #03C988;
}

.btn-orange {
  background-color: #FAAB78;
}

.btn-grey {
  background-color: #DDDDDD;
}

.back-to-prof-link {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  text-decoration: none;
  color: darken($backgroundDark, 40%);
  cursor: pointer;

  &:hover {
    text-shadow: 1px 1px 0.1rem $backgroundDark;
  }
}

#sign-in-link {
  font-weight: bolder;
  text-decoration: underline;
}